*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/* Scroll up to top */
.sroll-up{
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sroll-up i{
  font-size: 30px;
}
/* Scroll up to top */
.container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .contain{
  width: 85%;
}
/* ================ design nav bar ========================*/
.contain .nav-bar{
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* navbar left */
.contain .nav-bar .navbar-left{
  width: 35%;
}
.contain .nav-bar .navbar-left ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 10px 20px;
}
.contain .nav-bar .navbar-left ul a{
  color: black;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
/* nav bar right */
.contain .nav-bar .navbar-right{
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar .navbar-right .logo{
  width: 25%;
  height: 100%;
}
.nav-bar .navbar-right .logo img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav-bar .navbar-right .search-login{
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar .navbar-right .search-login input{
  height: 30px;
  width: 200px;
}
.nav-bar .navbar-right .search-login .choice{
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar .navbar-right .search-login .choice .navbar-icon{
  width: 33%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar .navbar-right .search-login .choice .navbar-icon i{
  font-size: 22px;
}
.nav-bar .navbar-right .search-login .choice .navbar-icon i:hover{
  cursor: pointer;
}
.nav-bar .navbar-right .search-login .choice .login-res{
  width: 65%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar .navbar-right .search-login .choice .login-res button{
  border: none;
  padding: 10px 25px;
  font-size: 16px;
  font-weight: 600;
}
.login-res .btn-login{
  color: whitesmoke;
  background-color: green;
}
.login-res .btn-login:hover{
  cursor: pointer;
  border: 3px solid green;
  background-color: whitesmoke;
  color: green;
}
.login-res .btn-register{
  color: whitesmoke;
  background-color: blue;
}
.login-res .btn-register:hover{
  cursor: pointer;
  border: 3px solid blue;
  background-color: whitesmoke;
  color: blue;
}
/* ================ design nav bar ========================*/
.contain .get-free{
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contain .get-free p{
  color: whitesmoke;
  padding: 7px;
}
/* =========== design banner =============== */
.contain .banner{
  width: 100%;
  height: 90vh;
  background-image: url(../images/allImage/MidYearSale_Main_ZANDO_1.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}
.contain .banner .btn-choose{
  width: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 80%;
  left: 45%;
  gap: 10px;
}
.btn-choose .btn-men{
  padding: 10px 30px;
  font-size: 20px;
  font-weight: bold;
  color: green;
}
.btn-choose .btn-men:hover{
  color: whitesmoke;
  background-color: green;
  cursor: pointer;
  border: 3px solid white;
}
.btn-choose .btn-women{
  padding: 10px 30px;
  font-size: 20px;
  font-weight: bold;
  color: blue;
}
.btn-choose .btn-women:hover{
  color: whitesmoke;
  background-color: blue;
  cursor: pointer;
  border: 3px solid white;
}
/* =========== End of design banner =============== */
/* =========== design slide category ============== */
.contain .slide-category{
  margin: 50px 0;
  display: flex;
  height: 100px;
  justify-content: space-between;
  overflow-x: auto;
  gap: 20px;
  padding: 20px 0;
  white-space: nowrap;
  scrollbar-width: thin; /* Firefox */
}
.contain .slide-category .card{
  height: 100%;
  width: 350px;
}
.contain .slide-category .card a img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin: 0;
  padding: 0;
}
/* =========== End of slide category ==============  */
/* ============= design banner-slide ================= */
.contain .banner-slide{
  width: 100%;
  height: 300px;
  background-color: pink;
  margin-top: 20px;
}
/* ============= End of banner-slide ================= */
/* =========== Design category item cart ========== */
.des-type{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;
  margin-top: 20px;
}
.des-type .midyear{
  font-size: 35px;
  font-weight: bold;
  color: red;
}
.des-type .see-more{
  font-size: 16px;
}
.contain .products{
    width: 100%;
    display: flex;
    gap: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    /* padding: 10px; */
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scrollbar-width: thin; 
}

/* Chrome, Edge, Safari */
.products::-webkit-scrollbar{
    height: 8px;
}

.products::-webkit-scrollbar-thumb{
    background: #888;
    /* border-radius: 10px; */
}

.products::-webkit-scrollbar-track{
    background: #eee;
}

.products .cart{
    flex: 0 0 280px;      /* Fixed width */
    border: 1px solid #ddd;
    height: 500px;
    /* border-radius: 10px; */
    scroll-snap-align: start;
    background: #fff;
    border: none;
}
.products .cart .image{
  width: 100%;
  height: 75%;
}
.products .cart .image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.products .cart .cart-info{
  width: 100%;
  height: 25%;
  /* background-color: green; */
  padding: 10px;
}
.products .cart .cart-info .item-name{
  font-size: 20px;
  font-weight: 600;
  color: blue;
}
.products .cart .cart-info .price-favorite{
  width: 100%;
  /* height: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}
.products .cart .cart-info .price-favorite .item-price{
  font-size: 18px;
  font-weight: 600;
  color: red;
}
.products .cart .cart-info .price-favorite .item-favorite i{
  font-size: 20px;
}
.products .cart .cart-info .btn-ordernow{
  width: 100%;
  padding: 10px 0px;
  font-size: 16px;
  font-weight: 500;
  color: whitesmoke;
  background-color: green;
  border-radius: 15px;
  border: none;
  align-items: end;
}
.products .cart .cart-info .btn-ordernow:hover{
  cursor: pointer;
  background-color: whitesmoke;
  color: green;
  border: 1px solid green;
}
/* =========== End of design category item cart ========== */
/* =========== design fotter section============== */
.contain .footer {
   width: 100%;
    /* max-width: 1400px; */
    margin: auto;
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 50px;
}
.footer-column h3 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 22px;
    color: #111;
}
.footer-column a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #222;
    font-size: 16px;
    margin-bottom: 15px;
    transition: .3s;
}
.footer-column a:hover {
    color: #000;
}
.footer-column i {
    width: 18px;
    text-align: center;
    font-size: 18px;
}
.footer .about-us {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    /* justify-content: end; */
}
.footer hr{
  width: 100%;
  max-width: 20px 0;
  margin: 20px auto;
  height: 5px;
}
.qr-code {
    width: 120px;
    height: 120px;
    object-fit: cover;
}
/* Responsive */
@media (max-width: 1200px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 768px) {

    .footer {
        padding: 35px 20px;
    }

    .container {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .qr-code {
        width: 140px;
    }
}
