@import url('https://fonts.googleapis.com/css2?family=Angkor&family=Roboto:ital,wght@0,100..900;1,100..900&family=Suwannaphum:wght@100;300;400;700;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}
/* ============= display for button order now =============== */
.btn-ordernow{
  display: none;
}
/* ============= display for button order now =============== */
/* Scroll up to top */
.sroll-up{
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sroll-up i{
  font-size: 30px;
}
/* Scroll up to top */
.container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .contain{
  width: 90%;
}
/* ================ design nav bar ========================*/
.contain .nav-bar{
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
}
/* navbar left */
.contain .nav-bar .navbar-left{
  width: 35%;
}
.contain .nav-bar .navbar-left ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 10px 20px;
}
.contain .nav-bar .navbar-left ul a{
  color: black;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}
/* nav bar right */
.contain .nav-bar .navbar-right{
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar .navbar-right .logo{
  width: 25%;
  height: 100%;
}
.nav-bar .navbar-right .logo img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav-bar .navbar-right .search-login{
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar .navbar-right .search-login input{
  height: 30px;
  width: 200px;
  padding: 5px 10px;
}
.nav-bar .navbar-right .search-login input:focus{
  outline: none;
  border: 2px solid black;
}
.nav-bar .navbar-right .search-login .choice{
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar .navbar-right .search-login .choice .navbar-icon{
  width: 33%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar .navbar-right .search-login .choice .navbar-icon i{
  font-size: 22px;
}
.nav-bar .navbar-right .search-login .choice .navbar-icon i:hover{
  cursor: pointer;
}
.nav-bar .navbar-right .search-login .choice .login-res{
  width: 65%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-bar .navbar-right .search-login .choice .login-res button{
  border: none;
  padding: 10px 25px;
  font-size: 16px;
  font-weight: 600;
}
.login-res .btn-login{
  color: white;
  background-color: black;
}
.login-res .btn-login:hover{
  cursor: pointer;
  border: 3px solid black !important;
  background-color: whitesmoke;
  color: black;
}
.login-res .btn-register{
  color: white;
  background-color: black;
}
.login-res .btn-register:hover{
  cursor: pointer;
  border: 3px solid black !important   ;
  background-color: whitesmoke;
  color: black;
}
/* ================ design nav bar ========================*/
.contain .get-free{
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contain .get-free p{
  color: whitesmoke;
  padding: 7px;
}
/* =========== design banner =============== */
.contain .banner{
  width: 100%;
  height: 90vh;
  background-image: url(../images/allImage/MidYearSale_Main_ZANDO_1.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}
.contain .banner .btn-choose{
  width: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 80%;
  left: 45%;
  gap: 10px;
}
.btn-choose .btn-men{
  padding: 10px 30px;
  font-size: 20px;
  font-weight: bold;
  color: green;
}
.btn-choose .btn-men:hover{
  color: whitesmoke;
  background-color: green;
  cursor: pointer;
  border: 3px solid white;
}
.btn-choose .btn-women{
  padding: 10px 30px;
  font-size: 20px;
  font-weight: bold;
  color: blue;
}
.btn-choose .btn-women:hover{
  color: whitesmoke;
  background-color: blue;
  cursor: pointer;
  border: 3px solid white;
}
/* =========== End of design banner =============== */
/* =========== design slide category ============== */
.contain .slide-category{
  margin: 50px 0;
  display: flex;
  height: 100px;
  justify-content: space-between;
  overflow-x: auto;
  gap: 20px;
  padding: 20px 0;
  white-space: nowrap;
  scrollbar-width: thin; /* Firefox */
}
.contain .slide-category .card{
  height: 100%;
  width: 350px;
}
.contain .slide-category .card a img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin: 0;
  padding: 0;
}
/* =========== End of slide category ==============  */
/* ============= design banner-slide ================= */
.contain .banner-slide{
    width:100%;
    height:400px;
    overflow:hidden;
}

.contain .banner-slide .slide-image{
    display:flex;
    width:300%;             /* 3 images */
    height:100%;
    transition:transform .6s ease-in-out;
}

.contain .banner-slide .slide-image img{
    width:100%;
    /* flex-shrink:0;          Each image takes 100% of banner */
    height:100%;
    object-fit:cover;
}
/* ============= End of banner-slide ================= */
/* =========== Design category item cart ========== */
.des-type{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;
  margin-top: 20px;
}
.des-type .midyear{
  font-size: 35px;
  font-weight: bold;
  color: red;
}
.des-type .see-more{
  font-size: 16px;
}
.contain .products {
    width: 100%;
    display: flex;
    gap: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.contain .products::-webkit-scrollbar {
    display: none;
}

.products .cart{
    flex: 0 0 280px;      /* Fixed width */
    border: 1px solid #ddd;
    height: 500px;
    /* border-radius: 10px; */
    scroll-snap-align: start;
    background: #fff;
    border: none;
}
.products .cart:hover{
  cursor: pointer;
}
.products .cart .image{
  width: 100%;
  height: 75%;
}
.products .cart .image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.products .cart .cart-info{
  width: 100%;
  height: 25%;
  /* background-color: green; */
  padding: 10px;
}
.products .cart .cart-info .item-name{
  font-size: 20px;
  font-weight: 600;
  color: blue;
}
.products .cart .cart-info .price-favorite{
  width: 100%;
  /* height: 100%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}
.products .cart .cart-info .price-favorite .item-price{
  font-size: 18px;
  font-weight: bold;
  color: red;
}
.products .cart .cart-info .price-favorite .item-favorite i{
  font-size: 20px;
}
.products .cart .cart-info .btn-ordernow{
  width: 100%;
  padding: 10px 0px;
  font-size: 16px;
  font-weight: 500;
  color: whitesmoke;
  background-color: green;
  border-radius: 15px;
  border: none;
  align-items: end;
}
.products .cart .cart-info .btn-ordernow:hover{
  cursor: pointer;
  background-color: whitesmoke;
  color: green;
  border: 1px solid green;
}
/* =========== End of design category item cart ========== */
/* =========== design fotter section============== */
.contain .footer {
   width: 100%;
    /* max-width: 1400px; */
    margin: auto;
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 50px;
}
.footer-column h3 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 22px;
    color: #111;
}
.footer-column a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #222;
    font-size: 16px;
    margin-bottom: 15px;
    transition: .3s;
}
.footer-column a:hover {
    color: #000;
}
.footer-column i {
    width: 18px;
    text-align: center;
    font-size: 18px;
}
.footer .about-us {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    /* justify-content: end; */
}
.footer hr{
  width: 100%;
  max-width: 20px 0;
  margin: 20px auto;
  height: 5px;
}
.qr-code {
    width: 120px;
    height: 120px;
    object-fit: cover;
}
/* Responsive */
@media (max-width: 1200px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 768px) {

    .footer {
        padding: 35px 20px;
    }

    .container {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .qr-code {
        width: 140px;
    }
}

/* ========================== Design for page detail item ========================== */
.contain .contain-itemDetail{
  width: 100%;
  height: 1000px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.contain .contain-itemDetail .item-image{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-self: start;
}
.contain .contain-itemDetail .item-image .item-typeImage{
  width: 20%;
  height: fit-content;
}
.contain-itemDetail .item-image .item-typeImage .image-item{
  width: 90%;
  height: 20%;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  border: 2px solid black;
  margin: auto;
}
.contain-itemDetail .item-image .item-typeImage .image-item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contain .contain-itemDetail .item-image .item-typeDetail{
  width: 80%;
  height: 90%;
  background-color: violet;
}
.contain .contain-itemDetail .item-image .item-typeDetail img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* =============== item detail ================== */
.contain .contain-itemDetail .item-detail{
  width: 50%;
  height: 100%;
  padding: 15px;
}
.contain .contain-itemDetail .item-detail .itemprice-discount{
  width: 30%;
  display: flex;
  gap: 10px;
  align-items: center;
}
.contain .contain-itemDetail .item-detail .itemprice-discount .price-item{
  color: red;
  font-weight: bold;
  font-size: 28px;
}
.contain .contain-itemDetail .item-detail .itemprice-discount .dis{
  text-decoration: line-through;
  color: black;
}
.contain .contain-itemDetail .item-detail .type-size button{
  padding: 10px 30px;
}
.contain .contain-itemDetail .item-detail .quantity-item{
  margin-top: 30px;
}
.contain .contain-itemDetail .item-detail .quantity-item button{
  padding: 10px 30px;
  border: 1px solid black;
}
.contain .contain-itemDetail .item-detail .add-to-bag{
  width: 80%;
  height: 50px;
  border-radius: 10px;
  margin-top: 50px;
}
.contain .contain-itemDetail .item-detail .add-to-bag .add{
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 10px;
  background-color: black;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.contain .contain-itemDetail .item-detail .item-info{
  margin: 20px 0;
  width: 100%;
  height: 400px;
  padding: 20px;
}
.contain .contain-itemDetail .item-detail .item-info .model-info{
  margin: 20px 0;
}
.contain .contain-itemDetail .item-detail .item-info .description h3{
  margin-bottom: 20px;
}
.item-detail .available-item{
  width: 25%;
  height: 120px;
  /* background-color: pink; */
  display: flex;
  gap: 20px;
  margin: 10px 0;
}
.item-detail .available-item .item{
  width: 50%;
  height: 100%;
  border: 2px solid black;
}
.item-detail .available-item .item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* ========================== End Design for page detail item ========================== */